
/* MEDIUM (IPAD ou landscape) */

/* ces styles  s'appliquent a la suite  de SMALL  */

/* pour visualiser... */
.logo  { background-color: #cfc;  }

section ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 3%;
	padding: 0.5rem;
	list-style: none;
}

.plat {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	grid-template-areas: 
		"titre  prix"
		"description ."
		;
  width: 48.5%;
  margin-bottom: 2rem;
}

.plat:last-of-type {
  margin-bottom: 0.5rem;
}

.contact {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
}
