
/* DESKTOP */

/* ces styles s'appliquent a la suite de SMALL et  MEDIUM */

/* pour visualiser... */
.logo  { background-color: #ccf;  }

main {
  /* margin: 1rem; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: 
    "titre titre titre"
    "entree principal dessert"
    "contact contact contact";
}

#section-titre {
  grid-area: titre;
}

#section-entree {
  grid-area: entree;
}

#section-principal {
  grid-area: principal;
}

#section-dessert {
  grid-area: dessert;
}

#section-joindre {
  grid-area: contact;
}

#section-entree, #section-principal, #section-dessert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  list-style: none;
  width: auto;
  flex-grow: 1;
}

.plat {
  width: 100%;
  margin-bottom: 0;
}

.contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
