
/* MEDIUM (IPAD ou landscape) */

/* ces styles  s'appliquent a la suite  de SMALL  */

/* pour visualiser... */
.logo  { background-color: #cfc;  }

section ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2%;
	padding: 0.5rem;
	list-style: none;
  width: fit-content;
}

.plat {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas: 
		"titre  prix"
		"description ."
		;
  width: 49%;
  margin-bottom: 1rem;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2%;
  width: 100%;
}

.contact p {
  width: 47%;
}
